.aside-menu {
  background-color: #094bcf;
  opacity: 0.8;
  padding: 30px;
  box-shadow: 4px 4px 8px rgba(49, 49, 208, 0.3);
  border-radius: 3px;
}

.aside-a-menu {
  font-family: "Source sans pro", sans-serif;
  color: white;
  font-size: 1.3rem;
}

.aside-a-menu a:hover {
  font-size: 1.4rem;
}
