.glibportfolio {
  background-color: #dde2e7;
  padding: 30px 20px 0 35px;
  width: 584px;
  height: 607px;
  border-radius: 10px;
}

.other-portfolio {
  background-color: #f7f3f3;
  padding: 30px 20px 0 35px;
  width: 584px;
  height: 607px;
  border-radius: 10px;
}
