/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@700&display=swap"); */

.skills-container {
  background-color: #e3e8ed;
  padding: 7px;
  border-radius: 4px;
  color: #111827;
}
